   <div class="row">
                {% for video in videos %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div align="center" class="embed-responsive embed-responsive-16by9">
                          <iframe class="" src="{{video.vimeoid(app.user)}}" frameborder="0"
                                allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <h3>{{video.getTitle()}}</h3>
                            {% if not app.user %}
                            <p class="card-text text-danger">Video for <b>MEMEBERS</b> only <a href="{{path('pricing')}}">Sign up</a> for a month for free</p>
                            {% endif %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                    <i class="fa fa-thumbs-up"><small class="text-muted number-of-likes-{{video.id}}">({{video.usersThatLike.count}})</small></i>&nbsp;
                                    <i class="fa fa-thumbs-down"><small class="text-muted number-of-dislikes-{{video.id}}">({{video.usersThatDontLike.count}})</small></i>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    {{include('front/includes/_likes.html.twig',{'video':video})}}
                                    {% endif %}
                                    <a href="{{path('video_details',{'video': video.id})}}#video_comments">Comments ({{video.comments.count}})</a>
                                </div>
                                <small class="text-muted">{{video.getDuration()}} mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            


            </div>