{% extends 'base.html.twig' %}



{% block customStyleSheets %}
<link href="{{asset('assets/css/dashboard.css')}}" rel="stylesheet">
{% endblock %}
{% block title %}Awesome vidéos - admin panel {% endblock %}

{% block menu %}{% endblock %}

{% block main %}
 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Awesome Videos</h5>
        <a class="nav-link active" href="{{path('main_page')}}"> Go to public site</a>      
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark">Logged as {{ app.user.name }} {{ app.user.lastname}}</a>
        </nav>
        <a class="btn btn-outline-primary" href="{{path('logout')}}">Logout</a>
    </div>

        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('admin')}}">
                                <span data-feather="file"></span>
                                My profile
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('categories')}}">
                                <span data-feather="file"></span>
                                Categories
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('videos')}}">
                                <span data-feather="shopping-cart"></span>
                                Videos
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('upload_video')}}">
                                <span data-feather="shopping-cart"></span>
                                Upload a video
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('users')}}">
                                <span data-feather="users"></span>
                                Users
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"><a href="{{path('admin')}}">Dashboard</a></h1>
                </div>
                {% block mainadmin %}{% endblock %}
            </main>
        </div>



{% endblock %}
{% block footerLinks %}{% endblock %}

{% block customJavaScript %}

  <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/popper.js"></script>
<script src="../assets/js/bootstrap.js"></script>


<script>
    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        console.log(e.target.files[0]);
        $('.custom-file-label').html(fileName);
    });
</script>
{% endblock %}