{% extends 'admin/base.html.twig' %}


{% block mainadmin %}

{% if is_granted('ROLE_ADMIN')%}
<h2>Videos</h2>
{% else %}
<h2>My liked videos</h2>
{% endif %}

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Video name</th>
        <th>Link</th>
        {% if is_granted('ROLE_ADMIN') %}
        <th>Category</th>
        <th>Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for video in videos %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{video.title}}</td>
        <td><a target="_blank" href="{{path('video_details', {'video' : video.id})}}">go to video</a></td>
        {% if is_granted('ROLE_ADMIN') %}
        <td>
            <form action="#" method="POST">
                <select onchange="this.form.submit();">
                <option selected>Parent...</option>
                <option value="1">Funny</option>
                <option value="1">--For kids</option>
                <option value="1">----For adults</option>
                <option value="2">Scary</option>
                <option value="3">Motivating</option>
                </select>
            </form>
        </td>
        <td><a href="#" onclick="delete_video(event,2);"><i class="fas fa-trash"></i></a></td>
        {% endif %}
      </tr>
          {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block customJavaScript %}
  {{parent()}}
<script>
    function delete_video(e,video_id)
    {
        e.preventDefault();
        if(confirm('Are you sure?')) 
        {
            console.log(id);
            // delete video from vimeo
            // window.location.href = 'clear database record with Symfony';
        }
    }
</script>
{% endblock %}
